<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dojo Secrets</title>
  </head>
  <body>
    <h1>Hello, {{user.first_name}}!</h1>
    <a href='/logout'>Log out</a>
    {%if messages%}
    <ul>
    {%for msg in messages %}
      <li>{{msg}}</li>
    {%endfor%}
    </ul>
    {%endif%}
    <form action='/secret/process' method='post'>
      {%csrf_token%}
      <textarea name='text'>Your secret here...</textarea>
      <input type="submit" value="Post">
    </form>
    <a href='/secret/popular'>Most Popular Secrets</a>
    <h1>Recent Secrets...</h1>
    {%if secrets%}
    {%for secret in secrets%}
    <p>{{secret.content}}
      ({{secret.created_at|timesince}} ago)
      {{secret.numlikes}} people liked this.
      {%if secret.creator.id == user.id%}
      You posted this. <a href='/secret/delete/{{secret.id}}'>Delete</a>
      {%elif user in secret.likes.all%}
      You liked this.
      {%else%}
      <a href='/secret/like/{{secret.id}}'>Like</a>
      {%endif%}</p>
    {%endfor%}
    {%endif%}
  </body>
</html>
