<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dojo Secrets</title>
  </head>
  <body>
    <h1>Most Popular Secrets...</h1>
    <a href='/secret'>Back</a>
    {%if secrets%}
    {%for secret in secrets%}
    <p>{{secret.content}}
      ({{secret.created_at}})
      {{secret.numlikes}} people liked this.
      {%if secret.creator.id == user.id%}
      You posted this. <a href='/secret/delete/{{secret.id}}'>Delete</a>
      {%elif user in secret.likes.all%}
      You liked this.
      {%else%}
      <a href='/secret/like/{{secret.id}}'>Like</a>
      {%endif%}</p>
    {%endfor%}
    {%endif%}
  </body>
</html>
